h1 {
    margin: 0;
    padding: 0;
    font-size: 3.5rem !important;
    font-weight: 700 !important; /* Bold */
    text-align: center;
    color: white;
}

.home h1 {
    padding-top: 5vh !important;
    padding-bottom: 0.5vh !important;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 1.75rem !important;
    font-weight: 400 !important; /* Normal */
    text-align: center;
    color: white;
}

.home h2 {
    padding-top: 0.5vh !important;
    padding-bottom: 2.5vh !important;
}

.resume-link {
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.resume-link:hover {
    text-decoration: underline;
}

.chevron-right {
    border: solid #1F8AFF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    margin-left: 8px;
    vertical-align: middle;
}
