h1 {
    margin: 0;
    padding: 0;
    font-size: 3.5rem !important;
    font-weight: 700 !important; /* Bold */
    text-align: center;
    color: white;
    margin-bottom: 10px; /* Adjust as needed */
}

.home {
    background-size: cover;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 79vh;
    width: auto;
    overflow-y: auto;
}

.home h1 {
    padding-top: 2vh !important;
    padding-bottom: 0.5vh !important;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 1.75rem !important;
    font-weight: 400 !important; /* Normal */
    text-align: center;
    color: white;
    margin-top: 10px; /* Adjust as needed */
}

.home h2 {
    padding-top: 0.5vh !important;
    padding-bottom: 2.5vh !important;
}

.resume-link {
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-bottom: 0px;
}

.resume-link:hover {
    text-decoration: underline;
}

.chevron-right {
    border: solid #1F8AFF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    margin-left: 8px;
    vertical-align: middle;
}

#d {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 20px;
    line-height: 1em; 
    text-align: center;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 500px; /* Minimum height it should retain */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

@media (max-width: 768px) {
    #d {
        font-size: 14px; /* Adjust the font size for mobile devices as needed */
    }
}