.chair {
    margin: 0;
    padding: 5rem;
    text-align: left;
    background-color: #161618;
    color: white;
    font-weight: normal;
}

.chair-container {
    margin: 0;
    padding: 3rem 0rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.chair-container > * {
    margin: 1em;
    width: 50%;
}

.github-icon {
    transform: scale(1);
    display: block;
    margin: auto;
}

@media (max-width: 800px) {
    .chair {
        padding: 1rem;
    }
    .chair-container {
        padding: 1rem 0rem;
        flex-direction: column;
    }
    .chair-container > * {
        margin: 1em 0em;
        width: 100%;
    }
} 