.project {
    margin-top: 0;
    margin: 0;
    text-align: left;
    background-color: #161618;
}

.project:before {
    content: "";
    display: block;
    height: 60px; 
    margin: -60px 0 0;
    visibility: hidden;
    pointer-events: none;
}

.card.bg-dark {
    background-color: #000 !important;
}

.project-container {
    margin-top: 100px !important;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1em; 
    justify-items: center; 
}

@media (max-width: 800px) {
    .project {
        padding: 0.5rem;
    }
    .project-container {
        grid-template-columns: 1fr; 
    }
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-title {
    font-weight: bold !important;
    font-size: 35px !important;
    margin-top: 22px !important;
    color: white;
}

.card-body, .card-text {
    color: white !important;
}

.card-link {
    text-decoration: none;
    display: block; 
}

.card-link:hover {
    text-decoration: underline;
}

.card-text {
    width: 100%; /* ensure it spans the full width of its container */
    text-align: center; /* centers the text horizontally */
    display: inline-block;
    justify-content: center; /* centers content horizontally when used with flex */
    align-items: center; /* centers content vertically when used with flex */
    font-weight: normal !important;
    padding-left: 50px;  /* Added this line to create some spacing inside */
    padding-right: 50px;
}
