body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  font-weight: 400; /* Normal weight for body text */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  font-weight: 400; /* Normal weight for code text */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; /* Bold weight for headers */
}

@media (max-width: 576px) { 
  /* for mobile devices */
  h1, h2, h3, h4, h5, h6 {
      font-size: 60%; 
      font-weight: 600; /* Slightly less bold to counteract the "Bold Text" feature */
  }
}
