body {
  overflow-x: hidden;  /* Ensure no horizontal scrolling */
}

.h1 {
  text-align: left !important;
}

.experience {
  margin: 0;
  padding: 5rem;
  text-align: left;
  background-color: #161618 !important;
  color: white !important;
}

.experience h2 {
    font-weight: 600 !important;
    text-align: left;
}

.experience-container {
    margin: 0;
    padding: 5rem 0rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.experience-container > * {
    margin: 1em;
}

.experience p {
    font-weight: 700;
    font-size: small;
}

.experience p2 {
    font-weight: 700;
    color: grey;
}

.experience-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.experience-content {
  background-color: black;
  border-radius: 25px;  /* curved edges */
  padding: 20px;  /* some padding to keep content away from the edges */
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;  /* align items vertically in the center */
}

.info {
  flex: 1;
  margin-left: 20px;
}

.experience-image {
  max-width: 75px;
  max-height: 75px;
  height: auto;
  margin-right: 20px;  /* spacing between image and text */
}

.gradient-text4 {
    background: linear-gradient(to left, red, mediumpurple);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@media (max-width: 768px) {
  .experience, .experience-container {
    padding: .5rem;  /* Reduced padding for smaller screens */
  }

  .experience-container > * {
    margin: 0.5em;  /* Reduced margin for smaller screens */
  }

  .experience-content {
      flex-direction: column;
      align-items: flex-start;  /* align items to the start (left for LTR languages) */
      text-align: center;  /* center the content */
  }

  .experience-image {
      margin: 0 auto 20px auto; /* top and bottom margin 20px, and auto left and right for centering */
      display: block;  /* make the image a block element to allow for centering using margin auto */
  }

  .info {
      margin-left: 0;
      text-align: left;
  }
}
