.about {
    margin: 0 auto;
    padding: 4rem 6.5rem 8rem 6.5rem;
    max-width: 1200px;
    background-color: #161618;
    color: white;
}

html, body {
    height: 90%;
    margin: 0;
    background-color: #161618;
}



.about-container {
    margin-top: 4rem; /* or adjust as needed */
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    flex-direction: row;
    gap: 1rem;
}

@media (max-width: 800px) {
    .about-container {
        flex-direction: column; /* This will stack your containers vertically on smaller screens */
    }

    .container2-1, .container2-2 {
        width: 100%; /* Ensures containers take up full width on smaller screens */
    }

    .about {
        padding: 4rem 2rem 8rem 2rem; /* Reduced left and right padding for smaller screens */
    }
}

.headshot {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 300px;
}

.container2-1, .container2-2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.long-box {
    background-color: black;
    padding: 2rem;
    flex: 2;  /* Longer box */
}

.short-box {
    background-color: black;
    padding: 2rem;
    flex: 1;  /* Shorter box */
}

.languages-box {
    background-color: black;
    padding: 3rem 2rem;  /* Adjusted padding */
    min-height: 300px;   /* Added min-height */
    flex: 1.5;
    background-image: url('../../assets/snake.png');
    background-size: cover;
    background-position: center;
}

.framework-box {
    background-color: black;
    padding: 2rem;
    flex: 2;
}
.long-box, .short-box, .languages-box, .framework-box {
    border-radius: 25px;  /* This gives a large roundness. Adjust as needed. */
}

h4 {
    font-weight: bold !important;
    font-size:35px !important;
}

p{
    font-weight: bold !important;
}
.gradient-text {
    background: linear-gradient(to right, mediumpurple,mediumpurple);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.gradient-text2 {
    background: linear-gradient(to right, mediumpurple, silver);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.gradient-text3 {
    background: linear-gradient(to left, silver,mediumpurple);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.tech-stack-image {
    max-width: 100%; /* Ensures the image scales nicely within the container */
    margin-top: 20px; /* Adds some space above the image */
    
}